

{% extends 'base.html' %}

{% block title %}Post Detail{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1>Your Posts</h1>
                <div class="card">
                    {% for post in user.posts %}
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.description }}</p>
                        <p class="card-text">{{ post.time }}</p>
                       
                        <a href="{{ post.link }}" target="_blank" class="btn btn-primary">Visit Link</a>
                        <button type="button" class="btn btn-secondary" onClick = 'deletePost({{ post.id }})'>Delete</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% block javascript %}
    <script type="text/javascript">
      function deletePost(postId) {
  fetch("/delete-post", {
    method: "POST",
    body: JSON.stringify({ postId: postId }),
  }).then((_res) => {
    window.location.href = "/";
  });
  }
</script>
{% endblock %}
{% endblock %}
